* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Tahoma', sans-serif;
}

h1,h2,h3,h4,h5 {
    font-family: 'Georgia', serif;
}

body {
    background-color: whitesmoke;
}

nav {
    text-align: center;
    padding: 1rem;
    margin-bottom: .25rem;
    background-color: slategray;
}

.nav-link {
    margin-left: 5px;
    margin-right: 5px;
    color: white !important;
}

a {
    text-decoration: none;
}

#landing {
    text-align: center;
}

#profile {
    height: 300px;
    width: 300px;
    border-radius: 150px;
    border: 2px solid gray;
    margin-top: 20px;
    margin-bottom: 20px;
}

#name {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

#title {
    margin-top: .5rem;
    margin-bottom: 1rem;
}

#intro {
    width: 400px;
    margin: auto;
}

#tools {
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

#tools-title {
    margin-bottom: 3rem;
}

.tools-img {
    height: 100px;
    width: 100px;
    border-radius: 150px;
    border: 2px solid slategray;
    margin-left:20px;
    margin-right: 20px;
}

#projects {
    text-align: center;
    padding-bottom: 1rem;
}

.card-heading {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.card {
    background-color: lightgray;
    border: 1px solid black;
    height: 400px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 10px;
}

.card-img {
    height: 300px;
    width: 300px;
}

footer {
    text-align: center;
    padding: 1rem;
    margin-top: .25rem;
    background-color: slategray;
}

body {
    background-image: 
        url(https://wallpapercave.com/wp/wp3589868.jpg)
    ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}